@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

.body {
    background-color: #fbfbfb;
    color:rgba(12, 12, 12, 0.7);
    font-family: 'Gilroy', sans-serif;
}

ul, ol {
    margin: 0;
    list-style: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
   
button {
    cursor: pointer;
    font-family: inherit;
}

.container{
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
} 



/* region header */
.header {
    border-bottom: 1px solid rgba(12, 12, 12, 0.1);
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.header-logo {
    font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.02em;
        color: #0c0c0c;
}

.header-nav {}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-item {}

.header-nav-link {
    position: relative;
    padding-top: 30px;
    padding-bottom: 40px;
    display: block;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        text-align: center;
        color: #0c0c0c;
}

.header-nav-link::after {
    content: "";
        width: 8px;
        border-radius: 50%;
        height: 8px;
        background-color: #3350e9;
        left: 50%;
        bottom: 30px;
        position: absolute;
        transform: translateX(-50%) scale(0);
        opacity: 0;
        transition: opacity 250ms ease-in, transform 250ms ease-in;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}    

/* .current {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.current::after {
    content: "";
    width: 8px;
    border-radius: 50%;
    height: 8px;
    background-color: #3350e9;    
}
    */

.header-social-list {
    display: flex;
    gap: 10px;
}

.header-social-link {
    border: 1px solid rgba(12, 12, 12, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 250ms ease-in, transform 250ms ease-in;
}

.header-social-link:hover,
.header-social-link:focus {
    border-color: rgba(51, 80, 233, 0.1);    
}
.header-social-link:hover > .header-social-icon,
.header-social-link:focus>.header-social-icon {
    fill: #3350e9;
}

.header-social-item {
    width: 36px;
        height: 36px;
}
/* endregion header */

/* #region home */
.home {
    padding-top: 80px;
}

.home-title {
    font-weight: 600;
        font-size: 72px;
        line-height: 0.87;
        letter-spacing: -0.02em;
        color: #0c0c0c;        
        max-width: 597px;  
        margin-bottom: 20px;      
}
 .home-container {
            
} 
.home-main-wrapper {
    display: flex;
    justify-content: space-between;
}
.home-wrapper-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.home-title-collection {
    color: #3350e9;
}

.home-text {    
        font-weight: 500;        
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
        max-width: 597px;         
}

.home-scroll-down {    
        font-weight: 500;
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #0c0c0c;
}
.home-photo { 
    margin-top: 40px;
    border-radius: 50px;       
}

.home-wrapper-left {

}
    
/* #endregion home */

/* #region about us */
.about-us {}

.about-us-title {
    font-weight: 600;
        font-size: 48px;
        line-height: 0.91667;
        letter-spacing: -0.02em;
        color: #0c0c0c;
}

.about-us-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
}
.about-us-btn {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        text-align: center;
        color: #fbfbfb;
        border-radius: 16px;
            width: 160px;
            height: 48px;
            background: #3350e9;
            border: none;
}
/* #endregion about us */
/* #region catalog */
.catalog-title {
    font-weight: 600;
        font-size: 48px;
        line-height: 0.91667;
        letter-spacing: -0.02em;
        color: #0c0c0c;
}

.catalog-item-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #0c0c0c;
}

.catalog-item-price {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.5);
}

/* #region reviews */
.reviews {
    padding-bottom: 50px;
    padding-top: 50px;
}
.reviews-title {
    font-weight: 600;
        font-size: 48px;
        line-height: 0.91667;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 40px;
}

.reviews-name {
    font-weight: 500;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        text-align: center;
        color: #0c0c0c;
        margin-top: 24px;
        margin-bottom: 8px;
}

.reviews-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(12, 12, 12, 0.4);
}

.reviews-list {
    display: flex;
    gap: 20px;
}
.reviews-item {
    border-radius: 30px;
        padding: 32px 36px;        
        background-color: #f3f3f3;
        width: calc((100% - 40px) / 3);
}

.reviews-photo {
    margin: 0 auto;
}

/* #endregion reviews */